*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --primary-color: hsl(24, 8%, 52%);
  --secondary-color: hsl(17, 35%, 49%);
}

body {
  overflow-x: hidden;
}

h2 {
  color: var(--secondary-color);
}

.sectitle {
  margin-left: 1em;
}

p {
  color: black;
}

.btn {
  padding: 0.5em 1em;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  cursor: pointer;
  transition: 300ms;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 200ms;
}

a:hover {
  color: hsl(40, 44%, 87%);
}

/* HEADER */

header {
  position: sticky;
  top: 0vh;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  background-color: var(--primary-color);
  color: white;
}
/*  */
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cart_icon {
  cursor: pointer;
}
/*  */

nav > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1em;
}

/* carrito */

.cart-label-style {
  filter: drop-shadow(0px 0px 2px red);
}

/*  */

.cart {
  opacity: 0;
  visibility: hidden;
  
  width: 350px;
  border: 1px solid var(--secondary-color);
  padding: 1em;
  background-color: white;

  position: absolute;
  top: calc(2em + 2vh);
  right: 1vw;
}

.cart_inner {
  position: relative;
  width: 100%;
  height: 400px;
}

.cartPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  transition: ease-in-out 300ms;
  overflow: auto;
  color: black;
  padding-right: 10px;
}

.cartPage::-webkit-scrollbar {
  width: 5px;
}
  
.cartPage::-webkit-scrollbar-track {
  background: white;
}
   
.cartPage::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  width: 10px;
  border-radius: 5px;
}
   
.cartPage::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cart-proceed,
.cart-clean {
  width: 49%;
  margin: 0 auto;
}

.cartPage > span {
  color: black;
}

.finalform {
  visibility: hidden;
  position: absolute;
  height: 100%;
}

.final-form-fieldset {
  display: flex;
  margin: 0;
  height: calc(400px - 1em);
  gap: 0.5em;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.cartPage img {
  width: 15%;
}

.htmlTotal {
  font-size: 2em;
  font-weight: 700;
}

.cart-product-price {
  font-weight: 700;
  font-size: 1.5em;
}

.cartUl {
  list-style-type: none;
  padding-left: 0;
}

.cart-product-delete {
  align-self: center;
}

.cart-product-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0em;
}

.cart-product-item {
  display: flex;
  flex-direction: column;
}

/* FINAL FORM */

.final-form {
  color: black;
  position: absolute;
  background-color: white;
  width: 100%;
}

.final-form-label,
.final-form-input {
  display: block;
}

.final-form-label {
  font-size: 1em;
}

.final-form-input {
  height: 1em;
  padding: 1em;
}

.goback-btn,
.cart-clean {
  background-color: white;
  color: black;
}

.final-btn,
.goback-btn {
  margin-top: 1em;
  width: 49%;
}

.final-form-p {
  font-weight: 700;
}

/* SECTIONS */

section {
  width: 100vw;
  height: 100vh;
}

/* section 1: title & logo */

.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec1container {
  width: 80vw;
  height: fit-content;
  padding: 1em;
  text-align: center;
  color: hsl(40, 44%, 57%);
}

.sec1container > h1 {
  font-size: calc(1em + 5vw);
  letter-spacing: 5px;
}

.logo {
  font-size: 2em;
}

.sec1container > h2 {
  letter-spacing: 3px;
}

/* section 2: carrousel */

.carrousel-section {
  display: flex;
  position: relative;
  height: 100%;
}

.txtframe {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1;
}

.carrouse__container {
  background-color: white;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.carrouse__container__img {
  position: relative;
  margin: 0;
  grid-column: 2 / -1;
  grid-row: 1;
  height: 100vh;
}

.carrouse__container__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 500ms ease-in-out;
}

.carrouse__btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 0px 2px white);
}

.hidden {
  position: absolute;
  opacity: 0;
}

.temp {
  position: relative;
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 1vw);
  justify-content: space-around;
  height: 100%;
  transition: opacity 500ms ease-in-out;
  color: var(--secondary-color);
}

/* section 3: products */

.sec3 {
  height: 100%;
}

.cards {
  padding: 1em 0em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  padding: 1em 1em 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  transition: 300ms;
  width: 20em;
  text-align: center;
  margin: 0 auto;
  color: var(--secondary-color);
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card p {
  padding: 1em 0em;
}

.card h2 {
  text-align: center;
}

.card img {
  margin: 0 auto;
  width: 100%;
}

.product-price {
  font-size: 1.5em;
  font-weight: 700;
}

.product-description {
  font-style: italic;
}

.product-img {
  object-fit: cover;
}

.btn:hover {
  color: var(--secondary-color);
}

/* section 4: about */

.sec4 p {
  font-size: clamp(1.6rem, 1.5vw, 2rem);
  padding: 1em 1em;
}

/* FOOTER */

footer {
  height: 30vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-between;
}

.redes {
  align-self: center;
}

.redes p {
  text-align: center;
}

.redes img {
  cursor: pointer;
  margin-top: 1em;
  padding: 0em 1em;
}

.signature {
  align-self: center;
  justify-self: end;
}
